@import '../../../app/variables.css';

.profile-name {
    .MuiOutlinedInput-root {
        font-size: 30px !important;
        font-weight: bold !important;
        padding: 0px !important;
    }
}

.profile-bio {
    .MuiOutlinedInput-root {
        font-size: 12px !important;
        padding: 0px !important;
        font-style: italic !important;
        color: rgb(var(--light-rgb));
    }
}

.fileUpload {
	background: #f4e177;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
	overflow: hidden;
	padding: 14px 16px;
	position: relative;
	text-align: center;
	width: 100%;
   cursor: pointer;
}
.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
	background: #c7b860;
  cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
  cursor: pointer;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}